* {
  color: aliceblue;
}

button {
  background-color: rgb(109, 109, 109);
  
}

#mainHeading {
  font-size: 3rem;
}

body {
  background-color: rgb(238, 238, 150);
}

#mainContainer {
  background-color: rgb(94, 165, 94);
  max-width: 500px;
  min-width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  border-radius: .5rem;
}

#mainContainer > * {
  margin-left: auto;
  margin-right: auto;
}

#searchBox {
  max-width: 200px;
  font-size: 2rem;
  border-radius: .5rem;
  color: rgb(63, 63, 63);
}